.monzo-wrapper {
    display: block;
    width: 300px;
    height: 500px;
    position: relative;
}

.monzo-balance {
    display: block;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
    text-align: left;
}

.monzo-spent-today {
    display: block;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    text-align: right;
    right: 0;
}

.monzo-transactions {
    top: 120px;
    left: 0;
    right: 0;
    position: absolute;
}

.monzo-transaction {
    font-size: 16px;
    text-align: left;
    display: table;
    width: 100%;
    height: 40px;
}

.monzo-small {
    font-weight: 300;
    font-size: 12px;
    line-height: 0;
    vertical-align: top;
}

.monzo-amounts {
    font-weight: 100;
    font-size: 25px;
    margin: 0;
}

.monzo-transaction-logo {
    display: table-cell;
    width: 40px;
    height: 40px;
    /* background-color: blue; */
    vertical-align: middle;
    overflow: hidden;
}

.monzo-transaction-description {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.monzo-transaction-amount {
    display: table-cell;
    width: 50px;
    height: 100%;
    vertical-align: middle;
    text-align: right;
}

.monzo-transaction-description p,
.monzo-transaction-amount p,
.monzo-transaction-logo p {
    line-height: 0;
    margin: 0;
    padding: 0;
}

.monzo-transaction-logo p img {
    width: 30px;
    height: 30px;
    line-height: 0;
    border-radius: 30%;
    overflow: hidden;
    padding: 5px;
}

.monzo-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    height: 60px;
}
